@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: local("LibreBaskerville"),
    url("./fonts/LibreBaskerville-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Bold"; /*Can be any text*/
  src: local("LibreBaskerville"),
    url("./fonts/LibreBaskerville-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Italic"; /*Can be any text*/
  src: local("LibreBaskerville"),
    url("./fonts/LibreBaskerville-Italic.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Regular", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: #d3d3d3;
  overflow-x: hidden;
  color: #ababab;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.hidden {
  display: none;
}
